{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="badge badge-pill badge-success"><i class="fas fa-recycle"> Smart Recycle</i></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Matched Companies</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Smart Waste Recyle</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-warning">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Waste Products</span>
                      {% for waste in data.user_wastes %}
                      <span class="info-box-number text-center text-muted mb-4 mt-2">- {{waste.name}}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-secondary">
                    <div class="info-box-content">
                      {% if data.matchmatching_industries %}
                      <span class="info-box-text text-center ">Matching Inputs</span>
                      <ul>
                        {% for value in data.matchmatching_industries %}
                      <li class="info-box-number text-center mb-0"><span class="badge badge-pill badge-primary">{{value.inputs__name}}</span> - <span class="badge badge-pill badge-info">{{value.name}}</span></li>
                      {% endfor %}
                      </ul>
                      {% else %}
                      <span class="info-box-text text-center">No Matching Inputs yet! <br /> Check back in a few hours</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content mb-4">
                      <span class="info-box-text text-center text-muted">Recycle Method</span>
                      {% for waste in data.user_wastes %}<span class="info-box-number text-center text-muted mb-0">
                        {{waste.name}} - {{waste.reuse_plan}}(KShs.{{waste.price}})<span>{% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Action Area</h4>
                  <p> Hi {{request.user.username}}, would like to take an action on your waste?</p>
                  {% for waste in data.user_wastes %}
                    <div class="post clearfix">
                      <div class="user-block">
                        {% if waste.image %}
                        <img class="img-circle img-fluid" src="{{waste.image.url}}" alt="user image">
                        {% else %}
                        <img class="img-circle img-fluid fa-bookmark-o" src="{% static 'dist/img/kemis-logo.jpg' %}" alt="">
                        {% endif %}
                        <span class="username">
                          <a href="#">{{waste.reuse_plan}}.</a>
                        </span>
                        <span class="description">{{waste.reuse_plan}} waste</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                      You can <span class="font-weight-bold">{{waste.reuse_plan}}</span> your wastes, <span class="font-weight-bold"> "{{waste.name}}",</span> to the following suggested companies:-<br />
                       {% if data.matchmatching_industries %}
                       {% for value in data.matchmatching_industries %}
                       #{{forloop.counter}}. <a href="{% url 'create_invoice' data.id value.id waste.id %}" class="my-4">{{value.name}} <span class="badge badge-pill badge-primary">{{waste.reuse_plan}}</span></a><br />
                       {% endfor %}
                       {% else %}
                       <span class="info-box-text font-weight-bolder font-italic text-info">No Matching Inputs yet! Check back in a few hours</span>
                       {% endif %}
                      </p>
                    </div>
                    {% endfor%}
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-1">
              <h3 class="text-primary"><i class="fas fa-book"></i> Company History</h3>
              <div class="row">
               {% if data.user_industries %}
                <div class="text-muted">
                  <p class="text-sm">Company Intro
                    <b class="d-block">{{data.user_industries.name}}</b>
                  </p>
                </div>
                </div>
                <div class="text-muted">
                  <p class="text-sm">About Company<br/>
                    Location:<b class="d-block">{{data.user_industries.location}}</b>
                    Email:<b class="d-block">{{data.user_industries.email}}</b>
                  </p>
                  <p class="text-sm">Description
                    <b class="d-block">{{data.user_industries.description}}</b>
                  </p>
                </div>
                <div class="text-muted">
                  <p class="text-sm">Raw Materials
                    {% for input in data.user_inputs %}
                    <b class="d-block">-{{input.name}}</b>
                    {% endfor %}
                  </p>
                </div>
                <div class="text-muted">
                  <p class="text-sm">Waste Products
                    {% for waste in data.user_wastes %}
                    <b class="d-block">-{{waste.name}}</b>
                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
            {% else %}
             <span class="info-box-text font-weight-bolder font-italic text-info">No company history yet!</span>
             {% endif %}
          </div>
              <div class="col-12 col-md-12 col-lg-4 order-1 order-md-1">
                <h3 class="text-primary"><i class="fas fa-book"></i>Related Industry History</h3>
                <div class="row">
                  {% if data.matchmatching_industries %}
                  {% for value in data.matchmatching_industries %}
                  <div class="col-12 col-sm-4">
                    <div class="text-muted">
                      <h5 class="font-weight-bolder text-capitalize">Company {{forloop.counter}} Intro
                      </h5>
                      <b class="d-block">{{value.name}}</b>
                    </div>
                    <div class="text-muted">
                      <p class="text-sm">About Company<br/>
                        Location:<b class="d-block">{{value.location}}</b>
                        Email:<b class="d-block">{{value.email}}</b>
                      </p>
                      <p class="text-sm">Description
                        <b class="d-block">{{value.description}}</b>
                      </p>
                    </div>
                    <div class="text-muted">
                      <p class="text-sm">Raw Materials
                        <b class="d-block">-{{value.inputs__name}}</b>
                      </p>
                    </div>
                    <div class="text-muted">
                      <p class="text-sm">Waste Products
                        <b class="d-block">-{{value.wasteproducts__name}}</b>
                      </p>
                    </div>
                  </div>  
                {% endfor %}
               {% else %}
               <span class="info-box-text font-weight-bolder font-italic text-info">No company history yet!</span>
               {% endif %}
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}
  